@using Sus.Base.Framework.UI
@{
    Html.AddTitleParts("Store");
    Html.AddCssFileParts(ResourceLocation.HeadMandatory,"~/assets/global/plugins/font-awesome/css/font-awesome.min.css");
    Html.AddCssFileParts(ResourceLocation.HeadMandatory, "~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css");
    Html.AddCssFileParts(ResourceLocation.HeadMandatory, "~/assets/global/plugins/bootstrap/css/bootstrap.min.css");
    Html.AddCssFileParts(ResourceLocation.HeadMandatory, "~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css");
    Html.AddCssFileParts(ResourceLocation.ThemeGlobal, "~/assets/global/css/components.min.css");
    Html.AddCssFileParts(ResourceLocation.ThemeGlobal, "~/assets/global/css/plugins.min.css");
    Html.AddScriptParts(ResourceLocation.ThemeGlobal, "~/assets/global/scripts/app.min.js");
    Html.AppendScriptParts(ResourceLocation.CorePlugin, "~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js");
    Html.AppendScriptParts(ResourceLocation.CorePlugin, "~/assets/global/plugins/jquery.blockui.min.js");
    Html.AppendScriptParts(ResourceLocation.CorePlugin, "~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js");
    Html.AppendScriptParts(ResourceLocation.CorePlugin, "~/assets/global/plugins/js.cookie.min.js");
    Html.AppendScriptParts(ResourceLocation.CorePlugin, "~/assets/global/plugins/bootstrap/js/bootstrap.min.js");
    Html.AppendScriptParts(ResourceLocation.CorePlugin, "~/assets/global/plugins/jquery.min.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sus.Base.Web</title>
    @Html.CssFiles(this.Url,ResourceLocation.HeadMandatory)
    @Html.CssFiles(this.Url, ResourceLocation.PagePlugin)
    @Html.CssFiles(this.Url, ResourceLocation.ThemeGlobal)
    @Html.CssFiles(this.Url, ResourceLocation.PageStyle)
    @Html.CssFiles(this.Url, ResourceLocation.ThemeLayout)
    @Html.Scripts(this.Url,ResourceLocation.HeadScript)    
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body class="@Html.BodyClass()">
    @RenderBody()
    
    @Html.Scripts(this.Url, ResourceLocation.CorePlugin)
    @Html.Scripts(this.Url, ResourceLocation.PagePlugin)
    @Html.Scripts(this.Url, ResourceLocation.ThemeGlobal)
    @Html.Scripts(this.Url, ResourceLocation.PageScript)
    @Html.Scripts(this.Url, ResourceLocation.ThemeLayout)
</body>
</html>
