@using Sus.Base.Framework.UI
@{
    Html.AddTitleParts("Store");

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.AppTitle(true)</title>
    @Html.CssFiles(this.Url,ResourceLocation.HeadMandatory)
    @Html.CssFiles(this.Url, ResourceLocation.PagePlugin)
    @Html.CssFiles(this.Url, ResourceLocation.ThemeGlobal)
    @Html.CssFiles(this.Url, ResourceLocation.PageStyle)
    @Html.CssFiles(this.Url, ResourceLocation.ThemeLayout)
    @Html.Scripts(this.Url,ResourceLocation.HeadScript)    
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body class="@Html.BodyClass()">
    @RenderBody()
    
    @Html.Scripts(this.Url, ResourceLocation.CorePlugin)
    @Html.Scripts(this.Url, ResourceLocation.PagePlugin)
    @Html.Scripts(this.Url, ResourceLocation.ThemeGlobal)
    @Html.Scripts(this.Url, ResourceLocation.PageScript)
    @Html.Scripts(this.Url, ResourceLocation.ThemeLayout)
</body>
</html>
